/*
 * Author: ZoieAnn Baird
 * Date: 2/11/2025
 * File Name: styles.css
 * /
 
/* CSS Reset*/
Body, header, nav, main, footer, h1, div img{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style Rules for Body and Images*/
body{
    background-color: #000;
}
img{
    max-width: 100%;
    display: block;
}
/* style rules for header*/
header{
    width: 25%;
    float: left;
}

/*style rules for nav*/
nav{
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    text-align: center;
}
nav li{
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/*Style Rules for Main Content*/
main{
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
}

#weights, #cardio, #training {
    width: 29%;
    float: left;
    margin: 0 2%;
}

#exercises {
    clear: left;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 1% 2%
}

#exercises dt {
    font-weight: bold;
}

#exercises dd {
    padding: 0.5% 1% 2% 0
}

.external-link{
    color: #666600;
    font-weight: bold;
    text-decoration: none;
}

#contact {
    text-align: center;
}

#contact a {
    color: #666600;
    text-decoration: none;
}

.map{
    border: 8px solid #000;
}

.action{
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}

/* Style rules for Footer content*/

footer p{
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a{
    color: #fff;
    text-decoration: none;
}






